/*------------------------------------*\
  用户注册
\*------------------------------------*/
/*背景*/
.fl-bg{position: absolute;top: 70px;bottom: 0;left: 0;right: 0;z-index: 0; min-width: 1200px;}
.fl-bg img{width: 100%;display: block;}

/* .fl-bg>div img{display: none;} 
.fl-bg>div img.active{display: block;} 
 */

 /*背景切换组件*/
 .u-togglebg{ position: absolute; left: 0; top:97px; right: 0; bottom: 0; height: 800px; z-index: -1; background: #eee; }
 .u-togglebg li{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-size: cover; display: none; }

/*表单*/
.fl-personal{width: 1200px; position: relative; z-index: 2; margin: 0 auto; overflow: hidden;}
.fl-register{width: 388px; float: right; margin:10% 8%; border-radius: 2px;  background-color: #FFF;}
.fl-personal form{width: 304px;margin:0 auto 30px;} 
.fl-personal .tab{height: 48px; line-height: 46px; margin-bottom: 20px; padding: 0; font-size: 16px;} 
.fl-personal .tab li{cursor: pointer; float: left; padding: 0; text-align: center; background-color: #bfbfbf;} 
.fl-personal .tab li.active{background-color: #FFF;} 
.fl-personal .tab li a{width: 100%; display: block; text-decoration: none;}
.fl-personal .tab li .icon{position: absolute; top: 0;  left: 0; width: 100%;-webkit-transition: all .3s;-moz-transition: all .3s;transition: proallm.3s;}
.fl-personal .tab li.active .icon{border-bottom: 2px solid #f89b16; } 
.fl-personal .profil{ padding: 0;} 
.fl-personal .profil .verify{width: 100%; overflow: hidden;}
.fl-personal .profil .verify>div{width:66.666% \9; *width:64%;  float: left; padding: 0 7px 0 0;} 
.fl-personal .profil .btn{display: inline-block; width:33.333% \9; *width:33%; *position: relative; *left: 27px; height: 40px; line-height: 40px; *height: 58px; *line-height: 58px;  float: left; padding: 0; border-color: #f0f0f0;  color: #525252; background-color: #FCFCFC;} 
.fl-personal .profil .btn:hover{background-color: #F3F3F3;}
.fl-personal .profil .btn.teltxt:hover{background-color: #FFF;}
.fl-personal .profil .btn>img{margin-left: 22px;}
.fl-personal .form-group .form-control{height: 40px; border-color: #f0f0f0; font-size: 14px; -webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.075); box-shadow:inset 0 0 1px rgba(0,0,0,0.075);}
.fl-personal .form-group .form-control:focus{border-color:#d9aa57; box-shadow:none;}
.fl-personal .form-group .form-control+span{position: relative; top: 3px; font-size: 12px; color: red;}
.fl-personal .submit{width: 100%;height: 40px;margin-top: 12px; font-size: 16px; color: #FFF; background-color: #f89b16;}
.fl-personal .submit:hover{background-color: #bb740f;}

/*------------------------------------*\
  用户登录
\*------------------------------------*/
.fl-login{width: 388px; float: right; margin:10% 8%; background-color: #FFF;}
.fl-login .header .title{width: 345px;}
.fl-login .resetpaw{ width: 100%; text-align: right;}
.fl-login .resetpaw>a{color: #f89b16;}

/*------------------------------------*\
  找回密码
\*------------------------------------*/
.fl-retrieve{width: 388px; float: right; margin:10% 8%; background-color: #FFF;}
.fl-retrieve .header .title{text-align: center;}
.fl-retrieve .tab li{width: 100%; overflow: hidden;}
.fl-retrieve .profil .btn{background-color: #337ab7; color: #FFF;}
.fl-retrieve .profil .btn:hover{background-color: #286090;}
.fl-retrieve .backtrack{display: block; width: 100%; height: 38px; line-height: 38px; margin-top: 15px; padding: 0; font-size: 16px; color: #FFF;}

/*------------------------------------*\
  设置新密码
\*------------------------------------*/
.fl-resetpaw{width: 555px; margin: 90px auto 0;}
.fl-resetpaw .header{padding: 18px 0 28px;}
.fl-resetpaw .header .title{text-align: center;}
.fl-resetpaw .tab{height: 50px;line-height: 45px; padding: 0 20px;}
.fl-resetpaw form{margin: 22px auto 48px;}


/*切换动画*/
.animationtop{
	-webkit-animation: downtop .3s linear;
	-moz-animation: downtop .3s linear;
	animation: downtop .3s linear;
}

/*旋转180度*/
@-webkit-keyframes downtop{
	0%{top: 50%;opacity: 0;filter:alpha(opacity=0);}
	100%{top: 0;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes downtop{
	0%{top: 50%;opacity: 0;filter:alpha(opacity=0);}
	100%{top: 0;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes downtop{
	0%{top: 50%;opacity: 0;filter:alpha(opacity=0);}
	100%{top: 0;opacity: 1;filter:alpha(opacity=100);}
}


