<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ghost 开源博客平台</title>
	<meta name="keyword" content="">
	<meta name="description" content="">
	<link type="text/css" href="/website/assets/css/ghost.css" rel="stylesheet">
	<!--[if lt IE9] -->
		<script type="text/javascript"src="/website/assets/plugins/html5shiv/html5shiv.js"></script>
	<!--[endif] -->
</head>
<body>
	<!-- 头部 -->
	<header class="m-header m-header-bg">
		<a class="logo-tu" href="javascript:void(0);"><img src="./photo/logo_c.png"></a>
	</header>
	<!-- 头部结束 -->
	<!-- 导航 -->
	<nav class="m-nav">
		<a class="minmenu"id="js-popup" href="javascript:void(0);">菜单</a>
		<ul class="menu"id="js-menu">
			<li class="active"><a href="/website/view/ghost">首页</a></li>
			<li><a href="javascript:void(0);">论坛</a></li>
			<li><a href="javascript:void(0);">快捷手册</a></li>
			<li><a href="javascript:void(0);">中文文档</a></li>
			<li><a href="javascript:void(0);">下载</a></li>
			<li><a href="javascript:void(0);">关于</a></li>
		</ul>
	</nav>
	<!-- 导航结束 -->
	<!-- 内容 -->
	<section class="g-warp">
		<!-- 内容主体 -->
		<main class="g-main">
			<article class="m-item">
				<h2 class="m-item-n title">Ghost 0.7.0 正式发布</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年9月7日</tiem></p>
				<div class="m-content">
					<p>Ghost 0.7.0 已经正式发布了！此版本主要对后台 UI 的重构，既包含重新设计，也包含底层功能的重大改进。0.7.0 还为即将到来的 API 做了很多铺垫工作。 Ghost 0.7.0 的主要改进 [新增] 设计新后台界面 [新增] 后台能够搜索博文和用户 [新增] 安</p>
				</div>				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
					<a href="javascript:void(0);">新版本发布</a>,
					<a href="javascript:void(0);">Ghost 0.7 版本</a>
				</footer>
			</article>
			<article class="m-item">
				<h2 class="m-item-n title">Ghost 0.7 中 {{ghost_foot}} 助手函数将不再输出 jQuery</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年8月29日</tiem></p>
				<div class="m-content">
					<p>{{ghost_foot}} 助手函数将不再输出 jQuery 链接了。 从 Ghost 第一个版本开始， {{ghost_foot}} 助手函数默认都会输出一个 jQuery 文件链接，并且这个文件还是本地存储的。最开始 Ghost 团队觉得这是一件对所有主题开发者有意义</p>
				</div>
				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
					<a href="javascript:void(0);">助手函数</a>,
					<a href="javascript:void(0);">jQuery</a>
				</footer>
			</article>
			<article class="m-item">
				<h2 class="m-item-n title">Ghost 0.7 即将发布，高清大图提前看</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年8月23日</tiem></p>
				<div class="m-content">
					<p>Ghost 官方在 18 号的会议记录上透露了 Ghost 0.7 版本可能会在这个月底前发布，也就是说 Github 仓库里的代码不会有太大变化了。周末抽时间把 master 分支上的代码下载、编译、安装起来，截几张高清图，360 度无死角透视一下最新版的真面目吧！ 安装界面</p>
				</div>				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
					<a href="javascript:void(0);">Ghost 0.7 版本</a>
				</footer>
			</article>
			<article class="m-item">
				<h2 class="m-item-n title">Ghost 0.7 版本将会带来哪些惊喜</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年8月13日</tiem></p>
				<div class="m-content">
					<p>后台界面 首当其冲的就是后台 UI 的改变。 从 Ghost 0.3.0 第一个公开发布的版本至今，Ghost 的后台 UI 一直都很简洁，顶部是一个黑底的导航条，三四个菜单项，底部是标签输入框，中间全是内容区域。如下图： 但是随着 Ghost 功能越来越完善，越来越多，好多东西</p>
				</div>
				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
					<a href="javascript:void(0);">新版本发布</a>,
				</footer>
			</article>
			<article class="m-item">
				<span class="tiujian"title="推荐文章"><i class="icon">*</i></span>
				<h2 class="m-item-n title">Ghost 0.6.3 版本正式发布</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年5月18日</tiem></p>
				<div class="m-content">
					<p>Ghost 0.6.3 版本已经正式发布了！此版本主要修复了一些 bug 并包含了几个新特性，例如：博文预览。 Ghost 0.6.3 的主要变化 [新增] 博文预览 [新增] 带密码保护的私密博客 [新增] 为作者自定义页面模板 [增强] 登陆状态延长至 7 天 [修复] 编辑</p>
				</div>
				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
					<a href="javascript:void(0);">新版本发布</a>,
				</footer>
			</article>
			<article class="m-item">
				<h2 class="m-item-n title">Ghost 0.6.2 版本正式发布</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年4月26日</tiem></p>
				<div class="m-content">
					<p>Ghost 0.6.2 主要是对 0.6.x 版本发布以来进行的 bug 修复。是否会问 0.6.1 版本去哪儿了？其实又被乌龙了，刚发布就发现有重大 bug，所以 0.6.2 成了救火的版本了。。。 主要变化 [修复] 在 Ghost 后台，作者（author）无法访问自己的信</p>
				</div>
				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
					<a href="javascript:void(0);">新版本发布</a>,
				</footer>
			</article>
			<article class="m-item">
				<h2 class="m-item-n title">Ghost 0.6.0 版本正式发布</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年4月21日</tiem></p>
				<div class="m-content">
					<p>Ghost 0.6.0 已经正式发布了！Github、npm、Ghost.org 和 GhostChina.com 上已经都可以下载了。Ghost 0.6.0 的代码有了很多改变，同时也增加了很多功能、修改了很多 bug。 主要变化 [新增] 编辑器增加了拼写检查（针对的是英文</p>
				</div>
				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
					<a href="javascript:void(0);">新版本发布</a>,
				</footer>
			</article>
			<article class="m-item">
				<h2 class="m-item-n title">如何使用 Ghost 博客系统</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年4月21日</tiem></p>
				<div class="m-content">
					<p>此系列教程已完成部分翻译。。。 既然来到这里，说明你的 Ghost 博客已经运行起来了。祝贺你！下面我们就来说一说 Ghost 博客系统的详细使用方法吧： 撰写博文 Ghost 和其他大部分博客平台不同，Ghost 博客平台的书写界面支持的是 Markdown 语法。Mar</p>
				</div>
				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
				</footer>
			</article>
			<article class="m-item">
				<span class="tiujian" title="推荐文章"><i class="icon">*</i></span>
				<h2 class="m-item-n title">我们是“开源公司”</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''> 2015年3月21日</tiem></p>
				<div class="m-content">
					<p>这篇博文是 Ghost 创始人 John O'Nolan 对开源和商业的深入思考和总结。 希望这篇译文对希望从事开源的同学有所裨益。 长久以来，开源项目和商业公司之间的交集总是令我着迷。在很多方面，他们的理念完全背道而驰、不可调和。一个是完全由社区驱动的社会化产物</p>
				</div>
				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">开源</a>,
				</footer>
			</article>
			<article class="m-item">
				<span class="tiujian"title="推荐文章"><i class="icon">*</i></span>
				<h2 class="m-item-n title">禁止 `ghost_foot` 助手输出 jQuery 链接</h2>
				<p class="m-item-n zuozhe">作者：<a href="javascript:void(0);">王赛 </a>• <time datetime=''>2015年3月4日</tiem></p>
				<div class="m-content">
					<p>Ghost 提供了一个 ghost_foot 助手函数，用来在页面底部输出一些自定义的 JavaScript 代码。“插入自定义代码” 功能也需要这个助手函数才能起作用。但是，ghost_foot 助手默认每次都会默认输出一个指向自身目录下的 jQuery 文件的链接，如果我们使</p>
				</div>				
				<a class="ydqw u-btn" href="">阅读全文</a>
				<footer class="footer">
					<i>12</i>
					<a href="javascript:void(0);">Ghost</a>,
					<a href="javascript:void(0);">深度玩转 Ghost</a>,
					<a href="javascript:void(0);">助手函数</a>,
				</footer>
			</article>
			<nav class="pagination">
				<span class="pagenuber">第 1 页 ⁄ 共 1 页</span>
				<a class="skip" href=""><i>></i></a>
			</nav>
		</main>
		<!-- 内容主体结束 -->
		<!-- 右侧边栏 -->
		<aside class="g-aside">
			<div class="m-aside sequ">
				<h2 class="title">社区</h2>
				<div class="con">
					<p class="sqnote">QQ群：453576211</p>
					<a class="sqnote" href="javascript:void(0);"><i>as </i>问答社区</a>
					<a class="sqnote" href="javascript:void(0);"><i>fg </i>官方微博</a>
				</div>					
			</div>
			<div class="m-aside  download">
				<h2 class="title">下载 Ghost</h2>
				<a class="u-btn" href="javascript:void(0);">Ghost 中文版（0.7.0）</a>
			</div>
			<div class="m-aside tag-bq">
				<h2 class="title">标签云</h2>
				<div class="con">
					<a href="javascript:void(0);">Ghost</a>
					<a href="javascript:void(0);">新版本发布</a>
					<a href="javascript:void(0);">JavaScript</a>
					<a href="javascript:void(0);">promise</a>
					<a href="javascript:void(0);">主题</a>
					<a href="javascript:void(0);">MySQL</a>
					<a href="javascript:void(0);">Node.js</a>
					<a href="javascript:void(0);">深度玩转Ghost</a>
					<a href="javascript:void(0);">Ubuntu</a>
					<a href="javascript:void(0);">阿里云服务</a>
					<a href="javascript:void(0);">Nginx</a>
					<a href="javascript:void(0);">BAE</a>
					<a href="javascript:void(0);">...</a>
				</div>
				
			</div>
		</aside>
		<!-- 右侧边栏结束 -->
	</section>
	<!-- 内容结束 -->
	<!-- 底部 -->
	<footer class="g-footer g-footer-bg">
		<div class="g-warp m-footer">
			<div class="m-footc zuixwz">
				<h2 class="title">最新文章</h2>
				<dl>
					<dt><a href="javascript:void(0);">Ghost 0.7.0 正式发布</a></dt>
					<dd>September 7, 2015</dd>
					<dt><a href="javascript:void(0);">Ghost 0.7 中 {{ghost_foot}} 助手函数将不再输出 jQuery</a></dt>
					<dd>August 29, 2015</dd>
					<dt><a href="javascript:void(0);">Ghost 0.7 即将发布，高清大图提前看</a></dt>
					<dd>August 23, 2015</dd>
				</dl>
			</div>
			<div class="m-footc tag-bq">
				<h2 class="title">标签云</h2>
				<div class="con">
					<a href="javascript:void(0);">Ghost</a>
					<a href="javascript:void(0);">新版本发布</a>
					<a href="javascript:void(0);">JavaScript</a>
					<a href="javascript:void(0);">promise</a>
					<a href="javascript:void(0);">主题</a>
					<a href="javascript:void(0);">MySQL</a>
					<a href="javascript:void(0);">Node.js</a>
					<a href="javascript:void(0);">深度玩转Ghost</a>
					<a href="javascript:void(0);">Ubuntu</a>
					<a href="javascript:void(0);">阿里云服务</a>
					<a href="javascript:void(0);">Nginx</a>
					<a href="javascript:void(0);">BAE</a>
					<a href="javascript:void(0);">...</a>			
				</div>
				</div>
			<div class="m-footc hezhb">
				<h2 class="title">合作伙伴</h2>
				<div class="con">
					<a href="">Bootstrap中文网</a>					
					<a href="">开放CDN服务</a>					
					<a href="">Grunt中文网</a>				
					<a class="fwlink" href="">阿里云</a>					
					<a href="">又拍云</a>					
					<a href="">UCloud</a>					
					<a href="">七牛云存储</a>					
				</div>
				</div>
		</div>
		<p class="m-copyright">
			Copyright © <a href="">Ghost中文网</a> | <a href="">京ICP备11008151号</a> | 京公网安备11010802014853
		</p>
	</footer>
	<!-- 底部结束 -->
	<script type="text/javascript"src="/website/assets/plugins/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript"src="/website/assets/js/ghost.js"></script>
</body>
</html>

