<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, minimal-ui">
	<title>游戏</title>
	<link rel="stylesheet" type="text/css" href="src/amimate.css"/>
	<link rel="stylesheet" type="text/css" href="src/main.css"/>
	<script src="src/sea.js" type="text/javascript" charset="utf-8"></script>
	<script src="src/sea-config.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<!--游戏场景开始-->
	<div id="gamesapp" class="g-main">
		<div class="m-gameover">
	<div class="textbox">
		<div class="header"><img src="src/images/touxiang.png"/></div>
		<div class="pingfen">
			<p class="p1">经过拖把儿分析</p>
			<p class="p2">您是《miss pilot》的手镯晴</p>
			<ul class="games-tongji" id="games-statistics">
				<li>鹰眼：233</li>
				<li>心理：233</li>
				<li>分配力：233</li>
			</ul>
			<!--<ul>
				<li><span class="text">鹰眼指数：</span><span class="img"><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/></span></li>
				<li><span class="text">心理指数：</span><span class="img"><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/></span></li>
				<li><span class="text">分配力指数：</span><span class="img"><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/><img src="src/images/icon-xin2.png"/></span></li>
			</ul>-->
			<div class="hr"></div>
			<blockquote>
				你像小田千里一样凡事讲求精确无比，遇事能够妥善处置自己的情绪。在学飞过程中，没准能遇到自己志同道合的好友兼竞争对手，在竞争中愈发成为一个优秀的飞行员。
			</blockquote>
		</div>
	</div>
	<div class="wyltz"><a href="index.html"><img src="src/images/wqltz.png"/></a></div>
</div>
	</div>
<!--游戏场景结束-->
</body>
</html>