@charset "utf-8";
/*全局样式*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{padding: 0;margin: 0;}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
html,body{position:relative;font-size: 14px;font-weight: normal;color: #666;font-family:'Microsoft YaHei', '微软雅黑', helvetica, arial, sans-serif;}
a,a:visited{text-decoration: none; color: #666;} 
ul li,ol li{list-style: none;}{list-style: none;}
img{border: 0;}


.g-warp{width: 1200px; margin: 0 auto;}

/***     	***\
	页面头部
\***		***/
.g-header{background-color: #FFF; box-shadow:0 0 5px rgba(0,0,0,.15); }
.m-header{position: relative;height: 36px; line-height: 36px; background-color: #d6d4d4; font-size: 12px;}
.m-header .top{ width: 1200px; margin:0 auto;}
.m-header .sx{margin: 0 10px; padding-right: 10px; border-right: 1px solid #c5bfbf;}
.m-header .help{margin-left: 20px;}
.m-nav{height: 60px;line-height: 60px;}
.m-nav .logo{height: 100%; overflow: hidden;}
.m-nav .nav li{position: relative; float: left;height: 60px;line-height: 60px; }
.m-nav .nav li a{position: relative; display: block; margin: 0; padding:0 20px;}
.m-nav .nav li a:hover{color:#f89b16}
.m-nav .nav li.active a:after{content:""; position: absolute;bottom: 12%; left: 0; width: 100%; height: 2px; background-color:#f89b16; 	-webkit-animation: navbwidth .2s linear; -moz-animation: navbwidth .2s linear; animation: navbwidth .2s linear;}
.m-nav .nav li.end>a:before{content:""; position: absolute;top: 34%; left: 0; width: 1px; height: 32%; background-color:#ededed;}

.m-nav .nav li a .icon{margin:0 3px;}
.m-nav .nav li.down:hover .icon{-webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg);transform: rotateZ(180deg);}
.ztj-dropdown{display: none; position: absolute;top:59px; left:0; margin-left: 10px; border:1px solid #ededed; background-color: #FFF;}
.m-nav .nav li .ztj-dropdown dd a{height: 32px; line-height: 32px; padding: 0 10px; text-align: center;}
.m-nav .nav li .ztj-dropdown dd a:after{content: "";display: none;}
.m-nav .nav li:hover .ztj-dropdown{display: block;}

/*切换动画*/
.navbwidth{
	-webkit-animation: navbwidth .3s linear;
	-moz-animation: navbwidth .3s linear;
	animation: navbwidth .3s linear;
}

/*旋转180度*/
@-webkit-keyframes navbwidth{
	0%{width: 0; left:45%;}
	100%{width: 100%; left: 0;}
}
@-moz-keyframes navbwidth{
	0%{width: 0; left:45%;}
	100%{width: 100%; left: 0;}
}
@keyframes navbwidth{
	0%{width: 0; left:45%;}
	100%{width: 100%; left: 0;}
}

/***     	***\
  banner 广告位
\***		***/

/*轮播图部分*/
.g-advertisement{width: 100%; padding: 10px 0; background: url(/website/zongtoujia/assets/image/banner1.jpg)no-repeat; background-size: 100% 100%; }
.g-advertisement .guanggao{width:1200px;margin: 0 auto;position: relative;}
.m-category{position: absolute;left: 0; width: 234px;height: 100%;}
.m-category>.kuaishudh{height: 100%;padding: 20px 0; background-color:#FFF;}
.m-category>.kuaishudh .list:hover{background-color: #FF6700;}
.m-category>.kuaishudh .list>a{display:block;position: relative; width: 100%; height: 42px;line-height: 42px;padding-left: 30px;}
.m-category>.kuaishudh .list:hover>a{color: #FFF;}
.m-category>.kuaishudh .list>a i{position: absolute;top: 0; right: 22px;}

.m-xxcplist{display: none; position: absolute;top: 0;left: 234px;height: 100%;border: 1px solid #e0e0e0; background-color: #FFF;-webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.18);box-shadow: 0 8px 16px rgba(0,0,0,0.18);}
.m-xxcplist>ul{float: left;width: 263px;}
.m-xxcplist>ul li{position: relative;}
.m-xxcplist>ul li a{display: block; position: relative;padding: 18px 20px;line-height: 40px;color: #333;-webkit-transition: color .2s;-o-transition: color .2s;transition: color .2s;}
.m-xxcplist>ul li .xuangou{display: inline-block;position: absolute;top:27px;right: 9px; padding: 0;border: 1px solid #FF6700;width: 60px;height: 24px;line-height: 24px;font-size: 12px;text-align: center;color: #FF6700;transition:all .5s;}
.m-xxcplist>ul li .xuangou:hover{background-color: #FF6700; color: #FFF;}
.m-xxcplist>ul li a img{display:inline-block;margin-right: 12px;}
.m-xxcplist>ul li a:hover{color: #FF6700;}
.m-slider{width: 620px; margin: 0 auto;}




/*控件组*/
.u-fl{float: left;}
.u-fr{float: right;}
.u-cb{clear: both;}
.u-btntrs{-webkit-transition: all .3s linear;-moz-transition: all .3s linear;-ms-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;}
.u-noborder{border:0;}
.u-hide{display: none;opacity: 0;}
.u-show{display: block;opacity: 1;}