@charset "utf-8";
/*全局样式*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{padding: 0;margin: 0;}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
html,body{position:relative;font-size: 14px;font-weight: normal;color: #666;font-family:'Microsoft YaHei', '微软雅黑', helvetica, arial, sans-serif;}
a,a:visited{text-decoration: none; color: #666;} 
ul li{list-style: none;}
img{border: 0;}

.u-fl{float: left;}
.u-fr{float: right;}
.u-cb{clear: both;}

.g-warp{width: 1200px; margin: 0 auto;}

/***     	***\
	页面头部
\***		***/
.g-header{background-color: #FFF; box-shadow:0 0 5px rgba(0,0,0,.15); }
.m-header{position: relative;height: 36px; line-height: 36px; background-color: #d6d4d4; font-size: 12px;}
.m-header .top{ width: 1200px; margin:0 auto;}
.m-header .sx{margin: 0 10px; padding-right: 10px; border-right: 1px solid #c5bfbf;}
.m-header .help{margin-left: 20px;}
.m-nav{height: 60px;line-height: 60px;}
.m-nav .logo{height: 100%; overflow: hidden;}
.m-nav .nav li{position: relative; float: left;height: 60px;line-height: 60px; }
.m-nav .nav li a{position: relative; display: block; margin: 0; padding:0 20px;}
.m-nav .nav li a:hover{color:#f89b16}
.m-nav .nav li.active a:after{content:""; position: absolute;bottom: 12%; left: 0; width: 100%; height: 2px; background-color:#f89b16; 	-webkit-animation: navbwidth .2s linear; -moz-animation: navbwidth .2s linear; animation: navbwidth .2s linear;}
.m-nav .nav li.end>a:before{content:""; position: absolute;top: 34%; left: 0; width: 1px; height: 32%; background-color:#ededed;}

.m-nav .nav li a .icon{margin:0 3px;}
.m-nav .nav li.down:hover .icon{-webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg);transform: rotateZ(180deg);}
.ztj-dropdown{display: none; position: absolute;top:60px; left:0; border:1px solid #ededed;}
.m-nav .nav li .ztj-dropdown dd a{height: 32px; line-height: 32px; padding: 0 10px; text-align: center;}
.m-nav .nav li .ztj-dropdown dd a:after{content: "";display: none;}
.m-nav .nav li:hover .ztj-dropdown{display: block;}

/*切换动画*/
.navbwidth{
	-webkit-animation: navbwidth .3s linear;
	-moz-animation: navbwidth .3s linear;
	animation: navbwidth .3s linear;
}

/*旋转180度*/
@-webkit-keyframes navbwidth{
	0%{width: 0; left:45%;}
	100%{width: 100%; left: 0;}
}
@-moz-keyframes navbwidth{
	0%{width: 0; left:45%;}
	100%{width: 100%; left: 0;}
}
@keyframes navbwidth{
	0%{width: 0; left:45%;}
	100%{width: 100%; left: 0;}
}

