@charset "utf-8";
/*全局样式*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{padding: 0;margin: 0;}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
body{position:relative;font-size: 14px;font-weight: normal;color: #666;font-family:'Microsoft YaHei', '微软雅黑', helvetica, arial, sans-serif;}
a{color:#2F3B49;}
a,a:hover,a:link,a:visited{text-decoration: none;} 
ul li{list-style: none;}
img{border: 0;}
/**/

/*声明图标*/
@font-face {font-family: "iconfont";
  src: url('icon/iconfont.eot'); /* IE9*/
  src: url('icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('icon/iconfont.woff') format('woff'), /* chrome, firefox */
  url('icon/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}


/*------------------------------------*\
  用户注册
\*------------------------------------*/
.fl-header{width: 100%;position: relative;}
.fl-header ul{width: 80%; height: 70px; line-height: 70px; margin: 0 auto;}
/*背景*/
.fl-bg{position: absolute;top: 70px;bottom: 0;left: 0;right: 0;z-index: 0; min-width: 1200px;}
/*.fl-bg>div{-webkit-animation: bgshow .5s ease-out; -o-animation: bgshow .5s ease-out; animation: bgshow .5s ease-out;} */
.fl-bg img{width: 100%;display: block;}

/* .fl-bg>div img{display: none;} 
.fl-bg>div img.active{display: block;} 
 */

 /*背景切换组件*/
 .u-togglebg{ position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; background: #eee; }
 .u-togglebg li{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-size: cover; display: none; }

/*表单*/
.fl-personal{width: 625px; position: relative; z-index: 2; margin: 49px auto 0; padding: 10px; border-radius: 12px; overflow: hidden;  background-color: #FFF;}
.fl-register{border-radius: 12px; margin: 0;}
.fl-personal .header{position: relative; padding: 20px 0 28px; margin:0 auto; border-bottom: 1px solid #d6d6d6;}
.fl-personal .header .title{width: 324px; margin: 0 auto; font-size: 22px;}
.fl-personal .header .yyzh {position:absolute;right: 15%;bottom: 25px;}
.fl-personal .header .yyzh a{color: #eb4230;}
.fl-personal .header .yyzh a:hover{color: #D13B2B;}
.fl-personal form{width: 362px;margin: 20px auto;} 
.fl-personal .tab{height: 56px; line-height: 46px; padding: 0; font-size: 18px;} 
.fl-personal .tab li{cursor: pointer;padding-left: 26px; float: left;min-width: 38%;} 
.fl-personal .tab li .icon{position: absolute; top: 35%;  left: 0; width: 16px; height: 16px; border-radius: 100%; border: 2px solid #cacaca; background: #FFF;-webkit-transition: all .3s;-moz-transition: all .3s;transition: proallm.3s;}
.fl-personal .tab li.active .icon{border-radius: 100%;border:0; background: #ec5446; } 
.fl-personal .tab li.active .icon:after{content: ""; position: absolute; top:2px;  left: 2px; bottom: 2px; right: 2px;border: 2px solid #FFF;  border-radius: 100%;} 
.fl-personal .profil{ padding: 0;} 
.fl-personal .profil .verify{width: 100%; overflow: hidden;}
.fl-personal .profil .verify>div{width:66.666% \9; *width:64%;  float: left; padding: 0 7px 0 0;} 
.fl-personal .profil .btn{display: inline-block; width:33.333% \9; *width:33%; *position: relative; *left: 27px; height: 46px; line-height: 46px; *height: 58px; *line-height: 58px;  float: left; padding: 0; border-color: #f0f0f0;  color: #525252; background-color: #FCFCFC;} 
.fl-personal .profil .btn:hover{background-color: #F3F3F3;}
.fl-personal .profil .btn.teltxt:hover{background-color: #FFF;}
.fl-personal .profil .btn>img{margin-left: 35px;}
.fl-personal .form-group .form-control{height: 46px; border-color: #f0f0f0; font-size: 16px; -webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.075); box-shadow:inset 0 0 1px rgba(0,0,0,0.075);}
.fl-personal .form-group .form-control:focus{border-color:#d9aa57; box-shadow:none;}
.fl-personal .form-group .form-control+span{position: relative; top: 3px; font-size: 12px; color: red;}
.fl-personal .submit{width: 100%;height: 48px;margin-top: 12px; font-size: 18px; background-color: #ec5446;}
.fl-personal .submit:hover{background-color: #d34a3d;}

/*------------------------------------*\
  用户登录
\*------------------------------------*/
.fl-login{margin: 0;}
.fl-login .header .title{width: 345px;}
.fl-login .header .yyzh{right: 10.9%;}
.fl-login .tab{height: 78px;line-height: 56px;}
.fl-login .tab li{padding-right: 0;}
.fl-login .tab li:last-child{padding-left: 33px;}
.fl-login .tab li:last-child .icon{left: 7px;}
.fl-login .resetpaw{ width: 100%; position: relative; bottom: 10px; text-align: center;}
.fl-login .resetpaw>a{color: #ec5446;}

/*第三方登录*/
.fl-elselogin{width: 100%; margin: 25px auto 15px; text-align: center;}
.fl-elselogin .title{ font-size: 18px; color: #707070;}
.fl-elselogin .btn{width: 50px;height: 50px; margin: 20px 15px 0; padding: 0; border: 1px solid #e4e4e4; font-size: 30px; border-radius: 100%; -webkit-transition: background .3s; -moz-transition: background .3s; transition: background .3s}
.fl-elselogin .btn:hover{background-color:#EAEAEA; }
.fl-elselogin .btn1{color: #3ca5f6;}
.fl-elselogin .btn2{color: #f74964;}
.fl-elselogin .btn3{color: #1dc353;}


/*------------------------------------*\
  找回密码
\*------------------------------------*/
.fl-retrieve{width: 555px; margin: 90px auto 0;}
.fl-retrieve .header .title{text-align: center;}
.fl-retrieve .tab{height: 78px;line-height: 56px;}
.fl-retrieve form{ margin: 20px auto 40px;}
.fl-retrieve .backtrack{display: block; width: 100%; height: 48px; line-height: 48px; margin-top: 15px; padding: 0; font-size: 18px;}

/*------------------------------------*\
  设置新密码
\*------------------------------------*/
.fl-resetpaw{width: 555px; margin: 90px auto 0;}
.fl-resetpaw .header{padding: 18px 0 28px;}
.fl-resetpaw .header .title{text-align: center;}
.fl-resetpaw .tab{height: 50px;line-height: 45px; padding: 0 20px;}
.fl-resetpaw form{margin: 22px auto 48px;}


/*切换动画*/
.animation{
	-webkit-animation: yrotation .4s linear;
	-moz-animation: yrotation .4s linear;
	animation: yrotation .4s linear;
}

/*旋转180度*/
@-webkit-keyframes yrotation{
	0%{-webkit-transform:rotateY(180deg);opacity: 0;filter:alpha(opacity=0);}
	100%{-webkit-transform:rotateY(0deg);opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes yrotation{
	0%{-moz-transform:rotateY(180deg);opacity: 0;filter:alpha(opacity=0);}
	100%{-moz-transform:rotateY(0deg);opacity: 1;filter:alpha(opacity=100);}
}
@keyframes yrotation{
	0%{transform:rotateY(180deg);opacity: 0;filter:alpha(opacity=0);}
	100%{transform:rotateY(0deg);opacity: 1;filter:alpha(opacity=100);}
}


